<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>article</title>
  </head>
  <body>
    <div class="box">
      <h1>22</h1>
      <p>artwwiclwwwsse</p>
    </div>
    <div x-data="{ open: false }">
      <button @click="open = true">Open Dropdown</button>

      <ul x-show="open" @click.away="open = false">
        Dropdown222
      </ul>
    </div>
    <script>
      console.log(window);
    </script>
  </body>
</html>
